*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

html{
	scroll-behavior: smooth;	
}

body{
	background-color: skyblue;
}

nav{
	background-color: white;
}

a:hover{
	background-color: #b4d6de;
}

	/*Child*/
nav> div{
	display: inline-block;
	float: right;
}

	/*Child Selector*/
body> section> form> label{
	color: darkred;
}

h1{
	color: black !important;
	font-size: 2rem;
	text-align: center;
}

section{
	height: 100vh;
	text-align: center;
}

h2{
	font-size: 1.5rem;
}

ol{
	list-style-type: none;
}

	/*ID selector*/
#zuitt-motto{
	letter-spacing: 5px;
	font-size: 30px;
}
	/*class selector*/
.offered-items{

	/*text-transform*/
	text-transform: uppercase;
}

	/*attribute selector*/
input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

	/*adajacent selector*/
h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

	/*descendant selectors*/
section li{
	color: #075966;
}

	/*general sibling selector*/
h2~a{
	text-decoration: none;
}

	/*FORM*/
form{
	color: rgb(0, 0, 128);
	text-align: center;
	background-color: white;
	border: 2px solid black;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

	/*Button*/
button{
	color: white;
	background-color: #CF0053;
	border: 0px;
	border-radius: 15px;
}