html{
	scroll-behavior: smooth;
}
p{
	font-size: 16px;
	color: #363946;
}

*{
	font-family: "Roman serif;", monospace;
	font-size: 20px;
}

h1{
	color: black !important;
	font-size: 2rem;
}

#uppercase{
	text-transform: uppercase;
}

.languages{
	background-color: green;
}

li[class="tools"]{
	border-color: blue;
	border-width: 1px;
	border-style: solid;
}

img + ol{
	list-style-type: none;
}

html img{
	height: 150px;
	width: 150px;
	border-radius: 150px;
}

h3~p{
	text-align: center;
}

section> ol> li{
	letter-spacing: 10px;
}